#content {
  border-top: 10px solid #cccccc;
  padding-top: 20px;
}
#content .screenshot {
  display: inline-block;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
  -moz-box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
}
#content .screenshot img {
  width: 100%;
  border-radius: 2px;
}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
#content .list-group-item {
  padding: 2px 0;
  white-space: nowrap;
}
#content .treeview span.indent {
  margin-left: 5px;
  margin-right: 5px;
}
#content .glyphicon {
  font-family: '';
}
#info li {
  font-weight: 700;
}
#info .pull-right {
  font-weight: normal;
  color: #666;
}
#tree {
  overflow-x: scroll;
}
.ribbon {
  position: fixed;
  right: 0;
  top: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index:9999;
}
.ribbon a {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  padding: 6px 0;
  text-align: center;-webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -transform: rotate(45deg);
  text-decoration: none;
  color: #fff;
  position: inherit;
  top: 40px;
  right: -40px;
  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.7);
  font: 700 13px &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #a00;
}
footer {
  border-top: 1px solid #eee;
  padding: 10px 0;
}
