#content {
  border-top: 10px solid #cccccc;
  padding-top: 20px;
}
#content .screenshot {
  display: inline-block;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
  -moz-box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
}
#content .screenshot img {
  width: 100%;
  border-radius: 2px;
}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
#content .list-group-item {
  padding: 2px 0;
  white-space: nowrap;
}
#content .treeview span.indent {
  margin-left: 5px;
  margin-right: 5px;
}
#content .glyphicon {
  font-family: '';
}
#info li {
  font-weight: 700;
}
#info .pull-right {
  font-weight: normal;
  color: #666;
}
#tree {
  overflow-x: scroll;
}
footer {
  border-top: 1px solid #eee;
  padding: 10px 0;
}
