<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="UTF-8"/>
  <meta name="description" content=""/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <title>App inspector</title>
  <link rel="shortcut icon" href="//xudafeng.github.io/favicon.ico" type="image/x-icon" />
  <script src="/react.min.js"></script>
  <script src="/react-dom.min.js"></script>
</head>
<body>
  <div id="app"></div>
  <script>
    var appData = {{ data | dump | safe }}
  </script>
  <script src="/dist/index.js"></script>

</body>
</html>
