body {
  margin: 0;
  font: 14px/1.5 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.fn-left {
  float: right;
}

.fn-right {
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main {
  display: flex;
  flex: 1;
}

.loading {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #aaa;
  padding: 100px 0;
}

.screen {
  flex: 0;
  padding: 0 20px;

  img {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
  }
}

.flex-col {
  flex: 1;
  overflow: auto;
  font-size: 12px;
  padding: 20px 0;
  border-left: 1px solid #eee;

  &:first-child {
    flex: none;
    border-left: 0;
  }

}
